<section id="contact">
<div class="container">
  <h3>Contact Me</h3>
  <div class="panel panel-default">

<form action="https://formspree.io/xgenjdpo" method="POST">
  <div>
  <label>
    Your email address:
    <!-- <input type="text" name="_replyto"></input> -->
    <textarea name="email" rows="1" cols="48"></textarea>
  </label>
  </div>
  <div>
  <label>
    Your message:
    <textarea name="message" rows="5" cols="50"></textarea>
  </label>
  </div>
  <div>
  <button type="submit">Send</button>
  </div>
  <br>
</form>

    </div>
  </div>
</div>
</section>


