<section id="contact">
<div class="container">
  <h2>Contact Linda</h2>
  <br>
  <h3>Linda loves bookclubs. If you'd like a virtual visit, send a message!</h3>
  <div class="panel panel-default">
<br>
<form action="https://formspree.io/xgenjdpo" method="POST">
  <div>
  <label>
    Your email address:
    <br>
    <input type="text" name="_replyto"></input> 
    <!--<textarea name="email" rows="1" cols="48"></textarea>-->
  </label>
  </div>
  <div>
  <label>
    Your message:
    <br>
    <textarea name="message" rows="5" cols="50"></textarea>
  </label>
  </div>
  <div>
  <button type="submit">Send</button>
  </div>
  <br>
</form>

    </div>
  </div>
</div>
</section>


