<section id="projects">
<div class="container">
  <h3>Events & Appearances</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	    <h4>August 20, 2020</h4>
		<h5>
			<strong>Minnesota Reads on KUMD</strong>
			- <a href="https://www.kumd.org/post/mn-reads-death-editor-cabin-lake-mystery-linda-norlander" target="_blank">MN Reads: "Death of an Editor: A Cabin by the Lake Mystery" by Linda Norlander</a>
		</h5>
	    <h4>June 30, 2020</h4>
		<h5>
			<strong>Cozy Ink Podcast</strong>
			- <a href="https://leahbaileyauthor.com/author-interview-with-linda-norlander/" target="_blank">Author Interview with Linda Norlander</a>
		</h5>
	    <h4>May-June, 2020</h4>
    		<h5>
			<strong>The Dames' Docket Newsletter</strong>
			- <a href="https://mcusercontent.com/205d41093d7df49a9c9ccb35f/files/eca1d53d-d637-411e-a9a6-a5ac88d85736/Volume_3_May_June_2020.pdf" target="_blank">In Conversation with Linda Norlander</a>
		</h5>



    </div>
  </div>
</div>
</section>
