<section id="projects">
<div class="container">
  <h3>Events & Appearances</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	    
	    <h4>May 21, 2021</h4>
		<h5>
			<strong>Five Compelling Questions with Shawn Podcast</strong>
			- <a href="https://anchor.fm/compellingfive/episodes/Ep19-FCQ-for-Author-Linda-Norlander-e11ampm/a-a1pvsb" target="_blank">FCQ for Author Linda Norlander</a>
			<p><iframe src="https://anchor.fm/compellingfive/embed/episodes/Ep19-FCQ-for-Author-Linda-Norlander-e11ampm/a-a1pvsb" height="102px" width="400px" frameborder="0" scrolling="no"></iframe></p>
		</h5>
	    <h4>May 20, 2021</h4>
		<h5>
			<strong>Heather Weidner's Blog Crazy for Words</strong>
			- <a href="http://www.heatherweidner.com/blog/2021/5/20/thisorthatthursday-author-interview-with-linda-norlander" target="_blank">#ThisorThatThursday Author Interview with Linda Norlander</a>
		</h5>
	    <h4>May 18, 2021</h4>
		<h5>
			<strong>Dru's Book Musings</strong>
			- <a href="https://drusbookmusing.com/2021/05/18/jamie-forest/" target="_blank">Jamie Forest by Linda Norlander</a>
		</h5>
	    <h4>May 18, 2021</h4>
		<h5>
			<strong>Gabriel's Wharf</strong>
			- <a href="https://gabrielswharf.wordpress.com/2021/05/17/guest-post-linda-norlander-author-of-death-of-an-editor/" target="_blank">Guest Post: Linda Norlander, author of Death of an Editor</a>
		</h5>
	    <h4>May 17, 2021</h4>
		<h5>
			<strong>Cozy Ink Podcast</strong>
			- <a href="https://cozyinkpodcast.com/interview-with-linda-norlander/" target="_blank">Interview with Linda Norlander</a>
			<p><iframe src="https://www.buzzsprout.com/844879/8537103-interview-with-linda-norlander?client_source=small_player&iframe=true?container_id=buzzsprout-player-8537103&player=small" height="102px" width="400px" frameborder="0" scrolling="no"></iframe></p>
		</h5>
	    <h4>March 3, 2021</h4>
		<h5>
			<strong>Chat & Spin Radio</strong>
			- <a href="https://soundcloud.com/ian-johnson-75/wednesday-3rd-march-wednesdays-afternoon-evening-late-show-441pm-628pm-uk-time-part-2#t=24:54" target="_blank">Radio Interview with Ian Johnson</a>
		</h5>
	    <h4>October 31, 2020</h4>
		<h5>
			<strong>Twin Cities Pioneer Press</strong>
			- <a href="https://www.twincities.com/2020/10/31/readers-and-writers-mysteries-by-minnesotans/" target="_blank">Readers and Writers: Mysteries by Minnesotans</a>
		</h5>
	    <h4>September 30, 2020</h4>
		<h5>
			<strong>Hawaii Writers Guild</strong>
			- <a href="https://youtu.be/UdnrLiOPV8k" target="_blank">WRITE ON Episode 6: Linda Norlander</a>
		</h5>
	    <h4>August 20, 2020</h4>
		<h5>
			<strong>Minnesota Reads on KUMD</strong>
			- <a href="https://www.kumd.org/post/mn-reads-death-editor-cabin-lake-mystery-linda-norlander" target="_blank">MN Reads: "Death of an Editor: A Cabin by the Lake Mystery" by Linda Norlander</a>
		</h5>
	    <h4>June 30, 2020</h4>
		<h5>
			<strong>Cozy Ink Podcast</strong>
			- <a href="https://leahbaileyauthor.com/author-interview-with-linda-norlander/" target="_blank">Author Interview with Linda Norlander</a>
		</h5>
	    <h4>May-June, 2020</h4>
    		<h5>
			<strong>The Dames' Docket Newsletter</strong>
			- <a href="https://mcusercontent.com/205d41093d7df49a9c9ccb35f/files/eca1d53d-d637-411e-a9a6-a5ac88d85736/Volume_3_May_June_2020.pdf" target="_blank">In Conversation with Linda Norlander</a>
		</h5>



    </div>
  </div>
</div>
</section>
