<div class="social">
	<h4>
    
    {% if site.email %}
	  <!--
	  <a href="{{ site.baseurl }}contact.html" target="_blank"><i class="fa fa-envelope"></i></a>
	  -->
	  <a href="mailto:lindanorlander@comcast.net" target="_blank"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.twitter %}
	  <a href="http://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if site.facebook %}
	  <a href="http://facebook.com/{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
    {% endif %}
	</h4>
</div>
